
<div class="container-fluid">
	<h1 id="name">De Dwarse Anjelier</h1>
</div>
<div class="container">
	<div class="row">
		

		<div class="col-md-12">

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ut quasi praesentium optio provident et vel consequuntur, impedit voluptatibus vero a doloremque, dolores saepe ducimus possimus natus repellendus! Et, quod. Mollitia, eaque. Fugit facilis voluptate dicta hic itaque officiis amet illum accusantium ipsum optio veniam doloribus exercitationem minus nulla laborum similique necessitatibus mollitia, ullam reiciendis iure iusto, at dignissimos praesentium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fugit commodi quisquam nihil rem tenetur error adipisci facilis, eius omnis deserunt, distinctio minus blanditiis nemo voluptates non officia, aliquid vero!
			</p>

		</div>
	</div>

	<div class="row">
		
		<div class="col-md-12">
			<%= image_tag("binnen.JPG", class: "banner") %>
		</div>
	</div>





</div>