* {
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size: 200px;
	font-family: 'Playball', cursive;
}

p{
	font-family: 'Playball', cursive;
}

#name {
	text-align:center;
}

.banner {
	width: 100%;
	height: 650px;
}